.Nav {
  background-color: black;

  ul {
    padding: 15px;
    display: flex;
    justify-content: space-around;
    li {
      list-style-type: none;
      a {
        padding: 10px;
        text-decoration: none;
        color: orange;
        &:hover {
          color: skyblue;
        }
      }
    }
  }
}
